body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page--gpio-board {
    background: #111;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.page--gpio-board .board {
    background: #508134;
    height: 990px;
    position: fixed;
    width: 670px;
    top: calc(50% - 380px);
    border-radius: 10px;
    opacity: 1;
    transition: opacity .5s;
    right: calc(50% + -46px);
}
.page--gpio-board .board .chipset {
    position: absolute;
    right: 207px;
    height: 169px;
    width: 170px;
    background: #3C3C3C;
    top: 230px;
    border-radius: 5px;
}

.page--gpio-board .board .chipset.mini {
    right: 215px;
    height: 100px;
    width: 100px;
    top: 650px;
}

.page--gpio-board .board .socket {
    position: absolute;
    right: 201px;
    height: 37px;
    width: 263px;
    background: #eee;
    top: 15px;
    border-radius: 5px;
}

.page--gpio-board .board .socket.display {
    right: 201px;
    top: 15px;
}

.page--gpio-board .board .socket.camera {
    right: 396px;
    top: 507px;
    transform: rotate(180deg);
}

.page--gpio-board .board .socket:before,
.page--gpio-board .board .socket:after {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    background: #EEE;
    height: 11px;
    width: 121px;
    left: 61px;
    transform: skew(-50deg);
}

.page--gpio-board .board .socket:after {
    left: 80px;
    transform: skew(50deg);
}

.page--gpio-board .board .socket i {
    display: block;
    height: 21px;
    width: 193px;
    position: absolute;
    left: 36px;
    background: #3C3C3C;
    top: 16px;
}
.page--gpio-board ul.pins {
    background: #3C3C3C;
    border-radius: 5px;
    list-style: none;
    margin: 0 auto;
    position: relative;
    padding: 0;
    width: 70px;
    padding: 5px;
}

.page--gpio-board .pins > li {
    background: #EECA56;
    height: 10px;
    display: block;
    float: left;
    position: relative;
    width: 10px;
    margin: 10px;
    cursor: pointer;
}

.page--gpio-board .pins > li:hover .pin-info {
    opacity: 1;
}

.page--gpio-board .pins .pin-info {
    position: absolute;
    height: 1px;
    width: 100px;
    margin-left: -100px;
    background: rgba(255,255,255, .5);
    top: 4.5px;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.page--gpio-board .pins >li:nth-child(even) .pin-info {
    margin-left: 10px;
    text-align: right;
}

.page--gpio-board .pins .pin-number {
    position: absolute;
    top: -6px;
    height: 12px;
    font-size: 9px;
    right: 0;
    width: 15px;
    text-align: center;
    line-height: 13px;
    background: #3C3C3C;
}

.page--gpio-board .pins >li:nth-child(even) .pin-number {
    left: 0;
    right: auto;
}

.page--gpio-board .pins .pin-name {
    height: 20px;
    line-height: 20px;
    margin-top: -20px;
    font-size: 12px;
}

.page--gpio-board.show-info .pin-info {
    opacity: 1;
}

.page--gpio-board.show-info .board {
    opacity: .2;
}

.page--gpio-board .toggle-info {
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: center;
    line-height: 50px;
    color: #555;
    font-size: 30px;
    font-family: serif;
    cursor: pointer;
}

.selected-pin-info {
    position: absolute;
    width: 250px;
    height: 100vh;
    padding-top: 160px;
    background: #2196F3;
    transform: translateX(-250px);
    transition: transform .2s ease-in;
    z-index: 1;
}

.selected-pin-info.active {
    transform: translateX(0);
}

.selected-pin-info .close {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    background: red;
    display: block;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}
