<ul class="raspberry-list">
    <li>
        <div class="page--gpio-board raspberry1ModelA">
            <div class="board">
                <div class="chipset"></div>
                <div class="hdmi"></div>
                <div class="socket display"><i></i></div>
                <div class="socket camera"><i></i></div>
                <div class="video"></div>
                <div class="audio"></div>
            </div>
            <rpi-board gpio="gpioRpi1"></rpi-board>
        </div>
    </li>
    <li>
        <div class="page--gpio-board">
            <div class="board">
                <div class="chipset"></div>
                <div class="chipset mini"></div>
                <div class="socket display"><i></i></div>
                <div class="socket camera"><i></i></div>
            </div>
            <rpi-board gpio="gpioRpi3"></rpi-board>
        </div>
    </li>
</ul>
